.amenties {
  padding-bottom: 50px;
  &__heading {
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    color: #ffb612;
    font-size: 25px;

    &::after {
      content: '';
      border-top: 1px solid;
      display: block;
      width: 15%;
      margin: 12px auto;
    }
  }
  &__header {
    color: rgb(68, 68, 68);
    margin-top: 40px;
    ul {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
    }
    li {
      margin-left: 10px;
      margin-right: 10px;
      color: #2e5cdd;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        height: 5px;
        width: 5px;
        background-color: red;
        display: block;
        border-radius: 50%;
        top: 8px;
        left: -10px;
      }
    }
  }
  .outdoor__list {
    margin-top: 20px;
    margin-bottom: 20px;
   
    .outdoor__item-wrap {
      margin-bottom: 10px;
      &-list{
        font-size: 15px;
        color: rgb(68, 68, 68);
      }
      ul{
        margin: 0;
        padding: 0;
      }
      &-heading {
        font-size: 16px;
        color: #000;
      }
      .icon {
        width: 30px;
        height: 30px;
        left: -35px;
        top: -4px;
        display: block;
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .outdoor__item-container {
        display: flex;
        align-items: center;
        img {
          width: 30px;
          height: 30px;
          display: block;
          margin-right: 10px;
          margin-left: -42px;
          object-fit: cover;
        }
      }
    }
  }
}
