.amenties {
  padding-bottom: 50px;
  &__heading {
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    color: #FFB612;
    font-size: 25px;

    &::after {
      content: "";
      border-top: 1px solid;
      display: block;
      width: 15%;
      margin: 12px auto;
    }
  }
  &__header {
    color: rgb(68, 68, 68);
    margin-top: 40px;
    ul {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
    }
    li {
      margin-left: 10px;
      margin-right: 10px;
      color: #2e5cdd;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        height: 5px;
        width: 5px;
        background-color: red;
        display: block;
        border-radius: 50%;
        top: 8px;
        left: -10px;
      }
    }
  }
  .outdoor__list {
    margin-top: 20px;
    margin-bottom: 20px;
    .outdoor__item:first-child {
      list-style: none;
    }
    .outdoor__item {
      position: relative;
      font-size: 15px;
      color: rgb(68, 68, 68);
      &-heading {
        font-size: 16px;
        color: #000;
      }
      .icon {
        width: 30px;
        height: 30px;
        left: -35px;
        top: -4px;
        display: block;
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
      }
      &-icon {
        background-image: url('../images/amenties/park.svg');
      }
      &-kitchen {
        background-image: url('../images/amenties/kitchen.svg');
      }
      &-pet {
        background-image: url('../images/amenties/track.svg');
      }
      &-mega {
        background-image: url('../images/amenties/megaphone.svg');
      }
      &-food {
        background-image: url('../images/amenties/cutlery.svg');
      }
      &-wifi {
        background-image: url('../images/amenties/wifi.svg');
      }
      &-bell {
        background-image: url('../images/amenties/desk-bell.svg');
      }
      &-parking {
        background-image: url('../images/amenties/parking.svg');
      }
      &-family {
        background-image: url('../images/amenties/family.svg');
      }
      &-safety {
        background-image: url('../images/amenties/protection.svg');
      }
      &-info {
        background-image: url('../images/amenties/information.svg');
      }
    }
  }
}
