
// Attractions style //

.attractions{
  margin: 3rem 0;
  .attractions__title{
    width: 100%;
    text-align: center;
    padding: 20px;
    color: #444444;
    font-size: 25px;
    h2{
      color: #FFB612;
      font-size: 25px;
      &:after{
        content: "";
        border-top: 1px solid;
        display: block;
        width: 20%;
        margin: 12px auto;
      }
    }
  }
  .attractions__map{
    width: 90%;
    height: 400px;
    margin: auto;
  }
  .cards{
    height: 100%;
    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.06), 0 0 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow .7s ease;
    .card-img-top{
      height: 250px;
      object-fit: cover;
    }
    .card-body{
      padding: 20px 15px;
      span{
        font-size: 13.5px;
        text-transform: uppercase;
      }
      h4{
        font-size: 19px;
      }
      .card-text{
        font-size: 14px;
        display: flex;
        a{
          text-decoration: none;
          display: block;
          &:hover{color: #FFB612}
        }
        .att-icons{
          color: #FFB612;
          font-size: 20px;
          margin-right: 10px;
        }
      }
    }
    &:hover{
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.28), 0 0 1px rgba(0, 0, 0, 0.24);
    }
  }
  article{
    max-width: 100%!important;
  }
}

@media (max-width: 767px) {
  .attractions .cards .card-img-top {
    height: 200px;
    object-fit: cover;
  }

  .attractions .cards .card-body .card-text {
    word-break: initial;
  }

  .attractions .cards .card-body h4 {
    font-size: 17px;
  }
}

@media (max-width: 575px) {
  .attractions__items {
    justify-content: center;
  }
}

@media (max-width: 440px) {
  .attractions__items {
    .col-8 {
      flex: 0 0 90%;
      max-width: 90%;
    }
  }
}
