.contact-page {
  margin-top: 50px;
  font-family: 'Montserrat';
  color: #000;

  a:hover {
    text-decoration: none;
  }

  &__heading {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 22px;
    font-weight: bold;
    color: #000;
    padding: 0 15px;
  }

  &-details {
    margin-bottom: 50px;
    &__cards {
      background: #f3f3f3;
      border-radius: 4px;
      padding: 15px;
      box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, 0.18);
      
    }

    &__title {
      font-size: 14px;
      margin-bottom: 15px;
    }

    &__phone {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      color: #ffb612;

      .fa-phone-volume {
        color: #000;
      }

      a {
        padding-left: 10px;
        color: #000;
        font-size: 12px;
      }
    }

    &__email {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      color: #ffb612;
      a {
        padding-left: 10px;
        color: #000;
        font-size: 12px;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &__fax {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      color: #ffb612;

      a {
        padding-left: 10px;
        color: #000;
        font-size: 12px;
      }
    }
  }

  &-info {
    margin-bottom: 50px;

    .container {
      &:before {
        content: '';
        height: 2px;
        background: rgba(0, 0, 0, 0.08);
        width: 100%;
        display: block;
        margin-bottom: 30px;
      }
    }

    &__title {
      font-size: 18px;
      margin-bottom: 22px;
      font-weight: bold;
      line-height: 26px;
      color: #000;
    }
  }
  &-map {
    height: 360px;
    margin-bottom: 50px;
  }

  &-btn {
    margin-bottom: 50px;

    &__button {
      border: none;
      background-color: #ffb612;
      font-size: 12px;
      color: #fff;
      padding: 10px 15px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;

      &:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }

      .fa-map-marker-alt {
        width: 16px;
        height: 16px;
        font-size: 16px;
        margin-right: 5px;
      }

      .fa-times {
        //display: none;
        width: 22px;
        height: 22px;
        font-size: 22px;
        position: absolute;
        right: 25px;
        display: none;
      }

    }

    .button-show {
      border: 1px solid #d8d8d8;
      border-radius: 4px 4px 0 0;
      border-bottom: none;
      background-color: #fff;
      color: #ffb612;
      width: 100%;
    }

    &__form {
      padding: 20px 30px;
      border: 1px solid #d8d8d8;
      border-radius: 0 0 4px 4px;
      display: none;
      width: 100%;
      max-width: 1110px;
      margin: auto 15px;
      box-shadow: 0 0px 12px rgba(0, 0, 0, 0.25);
      
      .form-group {
        margin-bottom: 20px !important;
        position: relative;

        .label_up {
          color: #000;
          font-size: 14px;
          position: absolute;
          border: none;
          top: 8px;
          width: 100%;
          transition: 0.2s ease all;
        }
      }
      .form-control {
        border: 0;
        border-bottom: 1px solid #dedede;
        width: 100%;
        padding: 0.375rem 0.75rem 0.375rem 0;
        border-radius: 0;
        min-height: 28px;
        background-color: transparent;
        font-size: 14px;

        &:focus {
          box-shadow: none;
        }
      }

      label {
        border: 1px solid #b1b3b3;
        color: #b1b3b3;
        font-size: 22px;
        padding: 14px 20px;
        border-radius: 4px;
        max-width: 130px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        height: 52px;

        &:hover {
          border: 1px solid #ffb612;
          color: #ffb612;
          cursor: pointer;
        }
      }

      &-activ {
        border: 1px solid #ffb612 !important;
        color: #ffb612 !important;
        cursor: pointer !important;
      }
    }

    &__get {
      border: none;
      background-color: #ffb612;
      font-size: 14px;
      color: #fff;
      padding: 15px 20px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;

    }
  }

  .directionToggle {
    display: flex;
  }
  .contactPageBtnOpen {
    background-color: #fff;
    color: #ffb612;
    border: 1px solid #d8d8d8;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    width: 100%;
  }
}

@media (min-width: 576px) { 

}

@media (min-width: 768px) {
  .contact-page-btn__form label {
    max-width: 200px !important;
    margin: 0px !important;
  }
  .contact-page-btn__button .fa-times {
    display: block !important;
  }
  .contact-page__heading {
    font-size: 22px !important;
  }

  .contact-page-info__title {
    font-size: 22px !important;
  }
}

@media (min-width: 992px) {
  .contact-page-btn__form {
    padding: 15px 30px !important;

    .form-group {
      margin-bottom: 0px !important;
    }

    label {
      max-width: 130px !important;
    }

    .contact-page-btn__form {
      margin: auto !important;
    }
  }

}


.swiper-card-rooms {
  padding-bottom: 50px;

  .swiper-container {
    height: auto;
    padding: 0 15px;
  }

  .swiper-wrapper .swiper-slide::before {
    content: none;
  }

  .swiper-card {
    border-radius: 11px;
    box-shadow: 0 15px 25px 0 rgba(0, 36, 77, 0.2);
    transition: all 0.25s linear;
    border: 1px solid #eef1f4;
    min-height: 150px;
    text-align: left;
    margin-bottom: 50px;

    &:hover {
      border-color: #e8ebed;
      box-shadow: none;
      color: #2d2d2d;
      border: 1px solid #e8ebed;
    }

    &__img {
      position: relative;
      img {
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;
        min-height: 220px;
      }
    }

    &__statistics {
      padding: 10px 20px;
    }

    &__cost {
      position: absolute;
      top: 0;
      background-color: #ffb612;
      border-radius: 11px 0px 11px 0px;
      color: #fff;
      padding: 5px 25px;
      font-size: 14px;
    }

    &__statistics {
      display: flex;
      flex-direction: column;
      color: rgba(45, 45, 45, 0.5);
    }

    &__name-rooms {
      margin-bottom: 9px;
      font-size: 16px;
      color: #000; 
    }

    &__size-rooms {
      margin-bottom: 9px;
      font-size: 14px;

      svg {
        color: #ffb612;
      }

      span {
        padding: 0 0 0 10px;
      }      
    }

    &__guest-rooms {
      margin-bottom: 15px;
      font-size: 14px;

      svg {
        color: #ffb612;
      }

      span {
        padding: 0 0 0 10px;
      }
    }

    &__desc {
      font-size: 13px;
      color: #000;
      margin-bottom: 15px;
    }

    &__services {

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        li {
          padding: 0 20px 0 0px;

          svg {
            color: #ffb612;
          }
        }
      }
    }

    &__next {
      background: #ffb612;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 30px;
      width: 30px;
      padding: 10px;
      border-radius: 50%;
      z-index: 9;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      
      svg {
        font-size: 20px;
        color: #fff;
        //margin: 0 0 0 -2px;
      }
    }

    &__prev {
      background: #ffb612;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 30px;
      width: 30px;
      padding: 10px;
      border-radius: 50%;
      z-index: 9;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      
      svg {
        font-size: 20px;
        color: #fff;
        margin: 0 0 0 -2px;
      }      
    }
  }
}
