.floor__wrapper{
    padding-top: 90px;
    padding-bottom: 90px;
    .floor__top-part{
        display: flex;
        img{
            display: block;
        }
    }
    .floor__bottom-part{
        display: flex;
        img{
            display: block;
        }
    }
}