.first__floor-wrapper{
    background-image: url('../images/3D/1night.jpg');
    background-position: center;
    background-size:cover;

}
.floor__wrapper {
    background-color: rgba(0,0,0,0.25);
  padding-top: 90px;
  padding-bottom: 90px;
  h1{
      color:#ffb612;
      margin-bottom: 20px;
  }
  .floor__top-part {
    display: flex;
    justify-content: center;
    a {
      position: relative;
      &:hover {
        z-index: 11;
        position: relative;
        &::after {
            top: 0;
            left: 0;
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          display: block;
          background-color: rgba(95, 245, 75, 0.25);
          z-index: 1111;
        }
      }
    }
    img {
      display: block;
    }
  }

  .floor__bottom-part,.floor__header-part {
      justify-content: center;
    display: flex;
    a {
      position: relative;
      z-index: 11;
      &:hover {
        position: relative;
        &::after {
            top: 0;
            left: 0;
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          display: block;
          background-color: rgba(95, 245, 75, 0.25);
          z-index: 1111;
        }
      }
    }
    img {
      display: block;
    }
  }
}

// responsive 

@media (max-width: 1199px) {
  .floor__wrapper .floor__top-part img {
    max-width: 100%;
  }
  .floor__wrapper .floor__bottom-part img, .floor__wrapper .floor__header-part img {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .house {
    overflow-x: scroll;

    &::-webkit-scrollbar {
      width: 24px;
      height: 12px; 
      background-color: #143861;
    } 
    &::-webkit-scrollbar-thumb {
      background-color: #ffb612;
      box-shadow: inset 1px 1px 10px #f3faf7;
    }
  }

}
