.tourist__guide {
  &-heading {
    color: #000;
    border-bottom: 1px solid #ffb612;
    padding-bottom: 12px;
    font-size: 30px;

    .info__circle{
    color: #FFB612;
    margin-right: 10px;
    }
  }
  .guide__list {
    color: #000;
    padding-top: 10px;
    list-style-type: none;
    .guide__link {
      display: block;
      margin-bottom: 5px;
      font-size: 14px;
    }
  }
}
.main__book-page{
  .book__page {
    padding: 0;
    margin: 0 auto;
  }
  .book__page-heading{
    padding-bottom: 12px;
    border-bottom: 1px solid #FFB612 !important;
    color: #000;
    font-size: 30px;
  }
  .header__content{
    margin: 1rem 0 !important;
    padding-top: 15px;
    border:none !important;
  }
}

@media (max-width: 575px) {
  .tourist__guide-heading, .main__book-page .book__page-heading, .visit .visit__title h2 {
    font-size: 20px;
  }
}



 