.tourist__guide {
  &-heading {
    color: #000;
    border-bottom: 1px solid #ffb612;
    padding-bottom: 12px;
    font-size: 30px;

    .info__circle{
    color: #FFB612;
    margin-right: 10px;
    }
  }
  .guide__list {
    color: #000;
    padding-top: 20px;
    list-style-type: none;
    .guide__item{
      .guide__link {
        display: inline-block;
        margin-bottom: 20px;
        font-size: 14px;
        text-decoration: none;
        position: relative;
        &:before{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background-color: #FFB612;
          transition: all .5s ;
        }
        &:hover{
          color: #FFB612;
          &:before{
            width: 100%;
          }
        }
      }
    }
  }
  ul{
    padding: 0 10px;
  }
}
.main__book-page{
  .book__page {
    padding: 0;
    margin: 0 auto;
  }
  .book__page-heading{
    padding-bottom: 12px;
    border-bottom: 1px solid #FFB612 !important;
    color: #000;
    font-size: 30px;
  }
  .header__content{
    margin: 1rem 0 !important;
    padding-top: 15px;
    border:none !important;
  }
}
.offer-main-items{
  border: 1px solid red;
  .offer__modal{
    @extend %modal-style;
    .offer__text{
      width: 50%;
      height: 80%;
      background-color: white;
      overflow: scroll;
      padding: 2rem 3rem;
      box-shadow: 0px 2px 8px -3px #cccccc;
      h4{
        font-size: 18px;
      }
      h6{
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        b{
          color: #007bff;
          font-size: 14px;
        }
      }
      p{
        font-size: 13px;
        margin: 1rem 0;
        display: block;
        span{
          font-size: 13px;
          margin: 10px 0;
          display: block;
        }
      }
      span{
        font-size: 14px;
      }
      ul{
        padding-left: 1rem;
        li{
          font-size: 13px;
        }
      }
    }
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background-color: white;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 15px!important;
      background-color: #cccccc;
    }
  }
}

@media (max-width: 575px) {
  .tourist__guide-heading, .main__book-page .book__page-heading, .visit .visit__title h2 {
    font-size: 20px;
  }

  .gallery .gallery__title .gallery__title-main {
    font-size: 20px;
  }
}



