.reg-bg {
  background: url('../images/registration.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
  .container {
    background-color:rgba(0, 0, 0, 0.45);
  }
  .registration__form{
    max-width: 300px;
    width:100%;
  }

  &-form {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color:white;
    input{
      padding: 5px;
      width:100%;
      display: block;
      border:1px solid transparent;
      outline: none;
      border-radius: 10px;
      &:active,&:hover,&:focus{
        border:1px solid #ffb612
      }
    }
   
    label{
      display: block;
    }
  }
  &-btn{
    background-color: #ffb612;
    box-shadow: #777777 -6px 0px 11px -7px;
     max-width: 300px;
      width:100%;
      border-radius: 10px;
      margin-top: 15px;
      &:focus,&:hover,&:active{
        background-color: rgb(51, 181, 229);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }
}}
.join__wrapper {
  .join__header {
    height: 60vh;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.51),
        rgba(0, 0, 0, 0.51)
      ),
      url('../images/5297.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .join__title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0 6rem;
      h1 {
        color: white;
      }
    }
  }
  .join__title {
    text-align: left;
    padding: 3rem 7rem;
    h2 {
      text-align: center;
      font-size: 25px;
      color: #ffb612;
      &:after {
        content: '';
        border-top: 1px solid;
        display: block;
        width: 40%;
        margin: 12px auto;
      }
    }
    p {
      font-size: 14px;
      display: block;
      margin: 2rem 0;
    }
    span {
      font-size: 15.5px;
    }
  }
  .join__content {
    padding-bottom: 4rem;
    label {
      font-size: 13px;
    }
    span {
      font-size: 13.5px;
      margin: 12px 0;
      display: block;
    }
    button {
      width: 100%;
      border-radius: 0;
      border: none;
      background-color: #ffb612;
      &:focus,
      &:active {
        background-color: #ffb612 !important;
        box-shadow: none !important;
      }
    }
    select {
      background-color: transparent !important;
    }
    .form-group {
      margin-bottom: 20px !important;
    }
    .join__input {
      font-size: 14px;
      padding-left: 10px;
      width: 100%;
      margin-right: 10px;
      border: 1px solid #ffb612;
      border-radius: 0;
      height: 39px;
      &:focus,
      &:active {
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
        border: 1px solid rgb(11, 61, 36);
        outline: none;
      }
    }
  }
}

// Responsive

@media (min-width: 0) and (max-width: 576px) {
  .join__wrapper {
    .join__header {
      height: 40vh;
      .join__title {
        padding: 0;
        h1 {
          font-size: 28px;
        }
      }
    }
    .join__title {
      padding: 3rem 1rem;
    }
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .join__wrapper {
    .join__title {
      padding: 3rem 1rem;
    }
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .join__wrapper {
    .join__title {
      padding: 3rem 1rem;
    }
  }
}
