.join__wrapper{
  .join__header{
    height: 60vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51)),
      url("https://picsum.photos/2048/1080");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .join__title{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0 6rem;
      h1{
        color: white;
      }
    }
  }
  .join__title{
    text-align: left;
    padding: 3rem 7rem;
    h2{
      text-align: center;
      font-size: 25px;
      color: #FFB612;
      &:after{
        content: "";
        border-top: 1px solid;
        display: block;
        width: 10%;
        margin: 12px auto;
      }
    }
    p{
      font-size: 14px;
      display: block;
      margin: 2rem 0;
    }
    span{
      font-size: 15.5px;
    }
  }
  .join__content{
    padding-bottom: 4rem;
    label{
      font-size: 13px;
    }
    span{
      font-size: 13.5px;
      margin: 12px 0;
      display: block;
    }
    button{
      width: 100%;
      border-radius: 0;
      border: none;
      background-color: #FFB612;
      &:focus, &:active{
        background-color: #FFB612!important;
        box-shadow: none!important;
      }
    }
    select{
      background-color: transparent!important;
    }
    .form-group{
      margin-bottom: 20px!important;
    }
    .join__input{
      font-size: 14px;
      padding-left: 10px;
      width: 100%;
      margin-right: 10px;
      border: 1px solid #ffb612;
      border-radius: 0;
      height: 39px;
      &:focus,
      &:active {
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
        border: 1px solid rgb(11, 61, 36);
        outline: none;
      }
    }
  }
}

// Responsive

@media (min-width: 0) and (max-width: 576px){
  .join__wrapper{
    .join__header{
      height: 40vh;
    }
    .join__title{
      padding: 3rem 1rem;
    }
  }
}
@media (min-width: 576px) and (max-width: 767px){
  .join__wrapper{
    .join__title{
      padding: 3rem 1rem;
    }
  }
}
@media (min-width: 767px) and (max-width: 992px){
  .join__wrapper{
    .join__title{
      padding: 3rem 1rem;
    }
  }
}
