.account{
  padding-bottom: 5rem;
  .account__header{
    width: 100%;
    height: 60vh;
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.57)),
    url("https://picsum.photos/2048/1080");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .account__title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 0 6rem;
      h2{
        color: white;
      }
      button{
        font-size: 15px !important;
        padding: 10px 20px;
        background-color: transparent;
        color: #ffb612;
        transition: 0.4s;
        border: 2px solid #FFB612;
        &:hover {
          color: white;
          background-color: #ffb612;
        }
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
  .account__content{
    h3{
      font-size: 20px;
      margin-top: 20px;
    }
    hr{
      width: 50%;
      margin: 2rem auto;
      height: 5px;
    }
    label{
      text-align: left;
    }
    .person{
      padding: 20px;
      display: flex;
      p{
        color: #FFB612;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      span{
        color: #444444;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        margin-bottom: 21px;
        margin-left: 2rem;
      }
    }
    .book{
      .table {
        th{
          color: #FFB612;
          font-size: 15px;
        }
        td{
          font-size: 14px;
        }
      }
    }
    .nav-item{
      .active{
        background-color: transparent;
      }
      font-size: 16px;
    }
    .nav-link{
      color: #444444;
    }
    .total{
      text-align: right;
      h6{
        border: none;
        flex-direction: column;
        b{
          font-size: 18px;
          padding-top: 10px;
        }
      }
    }
  }
}
// Responsive

@media (min-width: 0) and (max-width: 576px){
  .account{
    .account__header{
      height: 40vh;
      .account__title{
        flex-direction: column;
        justify-content: center;
        padding: 0;
        h2{
          font-size: 22px;
          margin-bottom: 20px;
        }
      }
    }
    .account__content{
      .tabs{
        flex-direction: column;
      }
      .book{
        overflow: auto;
        width: 100%;
      }
    }
  }
}
