.payment{

  .book__header{
    img{
      width: 100%;
    }
    h3{
      font-size: 22px;
    }
    p{
      span{
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
  .total{
    p, h6{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #cccccc;
      padding-bottom: 5px;
    }
    h6{
      font-size: 17px;
      b{
        font-size: 18px;
        font-weight: 600;
      }
    }
    p{
      span{
        margin-bottom: 0;
      }
    }
  }
  .tabs{
    .nav{
      .nav-item{
        .nav-link{
          &:hover{
            color: #FFB612;
            border-color: transparent;
            border-bottom-color: #dee2e6;
          }
        }
        .active{
          color: #FFB612;
          border-color: transparent;
          border-bottom-color: #dee2e6;
        }
      }
    }
    .uz__card{
      display: flex;
      justify-content: center;
      padding-top: 20px;
      .custom-control{
        width: 120px;
        height: 80px;
        display: inline-block;
        margin: 0 10px;
        .custom-control-label{
          img{
            width: 100%;
            object-fit: cover;
          }
          &:before, &:after{
            top: 10px;
          }
        }
      }
    }
    .pay_form{
      label{
        font-size: 15px;
      }
      button{
        padding: 8px 25px;
      }
      .pay__input{
        padding: 20px;
        margin-bottom: 2rem;
        box-shadow: 0 0 8px rgba(225, 225, 225, 0.75);
        &:focus{
          border: 1px solid #FFB612;
        }
      }
    }
  }
  }

// Responsive
@media (min-width: 0) and (max-width: 576px) {
  .payment{
    .total{
      padding: 0 15px;
      h6{font-size: 15px;}
    }
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .payment{
    .book__header{
      h3{font-size: 18px;}
      p span{margin-bottom: 5px;}
    }
    .total{
      padding: 10px 15px;
      h6{font-size: 15px;}
    }
  }
}
