.rooms__select {
  padding-top: 30px;
  padding-bottom: 30px;
  &-slider {
    height: 400px;
  }
  &-amenties {
    margin: 0;
    padding: 0;
    list-style-type: none;
    &-heading {
      display: block;
      margin-top: 10px;
      margin-bottom: 3px;
      font-size: 16px;
      font-weight: bold;
    }
    &-item {
      position: relative;
      font-size: 14px;
      &::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: #ffb612;
        top: 7px;
        border-radius: 4px;
        left: -10px;
      }
    }
  }
  &-text {
    margin-top: 15px;
  }
}
.rooms__select-slider{
    .swiper-slide::before{
        content:none;
    }
}

.floor__mini-2d{
  text-align: center;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 200px;
  height: 200px;
  text-align: center;
}
.floor__text{
}
.room__inner-pagination{
  .page-item.active{
    .page-link{
      color:white !important;
      background-color: #ffb612;
      border:1px solid #ccc;
    }
  }
  .pagination{
    flex-wrap: wrap;
  }
  .page-link{
    color:#ffb612 !important;
    transition: all 0.3s ease;
    &:hover{
      background-color:#ffb612 !important;
      color:white !important;
    }
  }

}
.floor__btn{
  background-color: #ffb612;
  border:1px solid transparent;
  padding-left: 20px !important;
  padding-right: 20px !important;
  display: block;
}